{% extends 'main/base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
<section class="hero">
</section>
<section class="about">
    <div class="container">
        <h2>О бренде Сатурн</h2>
        <p>Основным направлением деятельности компаний, которые работают под брендом Сатурн, является торговля строительными материалами. <br><br>
            Постоянными клиентами Сатурн являются как профессиональные строители, так и частные покупатели. <br><br>
            На протяжении многих лет компании, работающие под брендом Сатурн, занимают лидирующие позиции на рынке строительных и отделочных материалов. По данным рейтинга INFOLine "DIY Retailer Russia Top" на основании итогов 2014 и 2016 гг. Сатурн занимает 2-ое место среди российских компаний, торгующих строительными материалами, и входит в пятёрку крупнейших DIY-сетей, представленных на рынке строительных материалов РФ.<br><br>
            Под брендом Сатурн активно развиваются оптово-розничные строймаркеты, которые сейчас представлены 47 торговыми площадками в 24 городах России.
            Магазины поставляют более 28 000 наименований товаров на строительные объекты по всей стране.<br><br>
            Также Сатурн уже 15 лет является привлекательным работодателем (по версии портала SuperJob).</p>
        <h2>Сатурн сегодня - это:</h2>
        <section class="foto">
        </section>

    </div>
</section>
<section class="products">
    <div class="container">
        <section class="tovar3">
        </section>
    </div>
</section>
{% endblock %}